<!DOCTYPE html>
<head>
  <!-- use ejs and javascript to change this to match the title of the current page -->
  <title>eBook Portal</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="custom_style.css">
</head>
<body>