<!DOCTYPE html>
<head>
  <!-- use ejs and javascript to change this to match the title of the current page -->
  <title>eBook Dashboard | <%= pageTitle %></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="custom_style.css">
</head>
<body>
	<div class="container">
		<div class="well well-lg">
		<!-- <div class="jumbotron"> -->
	  		<ul class="nav nav-tabs" style="margin-bottom: 15px;">
	  			<li><a href="/search" data-toggle="tab">Search</a></li>
	  			<li><a href="/logout" data-toggle="tab">Logout</a></li>
			</ul>

<!-- main template page -->

<!-- footer partial -->