<!DOCTYPE html>
<head>
  <!-- use ejs and javascript to change this to match the title of the current page -->
  <title>eBook Dashboard | <%= pageTitle %></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="custom_style.css">
</head>
<body>
	<div class="container">
		<div class="well well-lg">
		<!-- <div class="jumbotron"> -->
		<% if (username === "") { %><!--  if not logged in -->
			<div>
	  		<ul class="nav nav-tabs" >
	  			<li><a href="/" class=""><h4>eBookDashboard</h4></a></li>
	  			<li><a href="/search" data-toggle="tab"><h4>Search by ISBN</h4></a></li>
	  			<li><a href="/login" data-toggle="tab"><h4>Login</h4></a></li>
	  			<li><a href="/signup" data-toggle="tab"><h4>Signup</h4></a></li>
			</ul>
			</div>
		<% } else { %><!--  if logged in -->
	  		<ul class="nav nav-tabs" >
	  			<li><a href="/" class=""><h4>eBookDashboard</h4></a></li>
	  			<li><a href="/search" data-toggle="tab"><h4>Search by ISBN</h4></a></li>
	  			<li><a href="/logout" data-toggle="tab"><h4>Logout</h4></a></li>
			</ul>
		<% } %>

<!-- main template page -->

<!-- footer partial -->