<!-- account.ejs -->
<% include partials/header.ejs%>
<div class="row">
<!--   <div class="well well-lg"> -->
  <div class="col-md-offset-1 col-sm-offset-1">
    <h1>Account Page</h1>

    
    <a href="/logout" class = "btn btn-danger btn-med">Log out here</a>
  </div><!--  closes column -->
</div> <!--closes row-->

<% include partials/footer.ejs%>