<% include partials/header.ejs%>

<h1>Details page test</h1>
    <form action="/search">
      <input type="text" name="searchTerm" placeholder="Enter ISBN">
      <input type="submit">
    </form>


<% include partials/footer.ejs%>