<% include partials/header.ejs%>

<div class="container">
  <div class="jumbotron">
    <h1>Error</h1>
    </div> <!--closes jumbotron-->
  </div> <!-- closes container -->
<% include partials/footer.ejs%>