<!-- index.ejs -->
<% include partials/header.ejs%>
    <div class="row">
        <div class="col-md-offset-2 col-md-8"><!-- big column with text -->
          <h1>eBook Dashboard</h1>
          <% if (typeof message !== 'undefined') { %>
            <p style = "color:red;">
            <%= message %>
            </p>
          <% } %>
	
        <p><em>The ebook dashboard is a product designed for small ebook publishers who sell from their own websites as well as through third-party websites like the Apple iTunes Store, Amazon's Kindle Direct Publishing, Barnes and Noble's NOOK store, Scribd and Kobo. </em>
        </p>
        <br>
        <p><a href='login'>Already have an account? Log in here</a></p>
        <p><a href='/signup'> Need an account? Sign up for one here</a></p>
      </div> <!-- closes big central column with forms -->
    </div> <!--closes row-->

<% include partials/footer.ejs%>