<% include partials/header.ejs%>
<div class="container">
  <div class="well well-lg">
    <div class="row">
      <div class="col-md-2">
      </div>
        <div class="col-md-8"><!-- big column with text -->
          <h1>eBook Dashboard</h1>
          <% if (typeof message !== 'undefined') { %>
            <p style = "color:red;">
            <%= message %>
            </p>
          <% } %>
          <form method="post" action="/login" class="form-horizontal"> <!-- password and login forms -->
          <fieldset>
            <legend>Login to the eBook dashboard</legend>
            <div class="form-group"> <!-- Username -->
              <label for="inputUsername" class="col-sm-2 control-label">Username</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Username" autocomplete="off" style="cursor: auto;">
              </div>
            </div> <!-- closes Username -->
            <div class="form-group"> <!-- password -->
              <label for="inputPassword" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" autocomplete="off" style="cursor: auto;">
              </div>
            </div> <!-- closes password -->
            <div class="form-group"> <!-- final submit and cancel buttons -->
              <div class="col-sm-4 col-lg-offset-2">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div> <!-- closes col lg 10 -->
            </div> <!-- closes form group -->
          </fieldset> <!-- closes fieldset -->
        </form> <!-- closes entire login form --> 
        <p><a href='/signup'> Need an account? Sign up for one here</a></p>
        <p><em>The ebook dashboard is a product designed for small ebook publishers who sell from their own websites as well as through third-party websites like the Apple iTunes Store, Amazon's Kindle Direct Publishing, Barnes and Noble's NOOK store, Scribd and Kobo. </em>
        </p>
      </div> <!-- closes big central column with forms -->
    </div> <!--closes row-->
  </div> <!-- closes well/section -->
  <img src="bigbook.png" position="cover">
</div> <!-- closes container -->

<% include partials/footer.ejs%>