<% include partials/header.ejs%>
  <div class="container">
    <div class="jumbotron">
      <h1>Login</h1>

      <form class="form-horizontal"> <!-- password and login forms -->
        <fieldset>
          <legend>Login to eBook dashboard</legend>
          <div class="form-group"> <!-- Username -->
            <label for="inputUsername" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputUsername" placeholder="Username" autocomplete="off" style="cursor: auto;">
            </div>
          </div> <!-- closes Username -->
          <div class="form-group"> <!-- password -->
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="off" style="cursor: auto;">
            </div>
          </div> <!-- closes password -->
          <div class="form-group"> <!-- final submit and cancel buttons -->
            <div class="col-lg-10 col-lg-offset-2">
              <button class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div> <!-- closes col lg 10 -->
          </div> <!-- closes form group -->
        </fieldset> <!-- closes fieldset -->
      </form> <!-- closes entire login form -->
      <button type="button" id="signup" class="btn btn-danger btn-lg btn-block">Need an account? Sign up for one here</button>      
    </div> <!--closes jumbotron-->
  </div> <!-- closes container -->
<% include partials/footer.ejs%>