<!DOCTYPE html>
<head>
  <title>eBook Portal</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="custom_style.css">

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href='' class="navbar-brand">Index-Partials</a>
      </div><!-- closes navbar-header -->
      <!-- ul navbar-nav -->

    </div><!--closes container-->
  </nav><!-- closes navbar -->
Login Page

</body>
</html>





<% include partials/footer.ejs%>