<% include partials/header.ejs%>
<div class="container"> 
  <div class="jumbotron"> 
    <div class="row">

                  <div class="col-xs-12">
                    <h2>eBook Dashboard</h2>
                  </div> <!-- closes headline -->
                  <div class="col-xs-6">
                    <h3>postgres</h3>
                  </div><!--close left column -->
                    <div class="col-xs-6">
                    <h3>apple</h3>
                  </div><!--close right column -->

    </div> <!-- close row -->
  </div> <!-- close jumbotron -->
</div> <!-- close container -->

  
<% include partials/footer.ejs%>