<% include partials/header.ejs%>

  <div class="container">
    <div class="jumbotron">
      <h1>Sign up</h1>

      <form class="form-horizontal"> <!-- password and login forms -->
        <fieldset>
          <legend>Sign up for access to eBook dashboard</legend>
          <div class="form-group"> <!-- email -->
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputEmail" placeholder="Email" autocomplete="off" style="cursor: auto;">
            </div>
          </div> <!-- closes email -->
          <div class="form-group"> <!-- password -->
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="off" style="cursor: auto;">
            </div>
          </div> <!-- closes password -->
          <div class="form-group"> <!-- final submit and cancel buttons -->
            <div class="col-lg-10 col-lg-offset-2">
              <button class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div> <!-- closes col lg 10 -->
          </div> <!-- closes form group -->
        </fieldset> <!-- closes fieldset -->
      </form> <!-- closes entire login form -->
      <button type="button" id="signup" class="btn btn-success btn-lg btn-block">Already have an account? Log in here</button>      
    </div> <!--closes jumbotron-->
  </div> <!-- closes container -->



<% include partials/footer.ejs%>