<html>
<head>
  <title>Testing</title>
</head>
<body>
  <h1>Testing my API</h1>
    <ul>
      <!-- passed {movieList: body} -->
      <% movieList.forEach(function(film){ %>
      <li><a href="movie/<%= film.imdbID %>"> <%= film.Title %> </a></li>
      <%  }) %>
    </ul>
  

</body>
</html>